*
  box-sizing: border-box
  margin: 0
  padding: 0

body 
  // height: 100vh
  font-family: 'Montserrat Alternates', sans-serif
  background-color: #333 
  text-align: center
  // overflow: hidden

.container
  background-color: #cfc9c9
  margin-top: 5rem

.container-fluid 
  background-color: gold

[class*=col]
  border: 2px solid #dc3545


section  
  color: #76db76 
  [class*=h]
    color: #eeee